<div class="page-header">
  <div class="container" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-xs-12" style="height: 100%;">
        <%= image_tag 'profile.png', id: "david" %>
        <%= render 'navigation' %>
      </div>
    </div>
  </div>
</div>