<ul class="nav pull-right">
  <li><%= nav_link_to "Home", root_path %></li>
  <li><%= nav_link_to "Consulting", consulting_path %></li>
  <li><%= nav_link_to "Entrepreneurship", entrepreneurship_path %></li>
  <li><%= nav_link_to "Contact", contact_path %></li>
</ul>