<%= image_tag 'profile.png', id: "david", class: "hidden-xs" %>

<div class="container">
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-7 center" id="welcome">
      <h1>Hi, I'm David Van Der Beek.</h1>
      <h3>I help businesses grow &amp; develop cool web applications.</h3>
    </div>
  </div>
</div>