<div class="container" style="height: 100%;">
  <div class="row" style="height: 100%;">
    <div class="col-sm-5 hidden-xs" style="height: 100%;">
      <%= image_tag 'profile.png', id: "david" %>
    </div>
    <div class="col-sm-7 col-xs-12 center" id="welcome" style="height: 100%;">
      <h1>Hi, I'm David Van Der Beek.</h1>
      <h3>I help businesses grow &amp; develop cool web applications.</h3>
    </div>
  </div>
</div>