// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body { height: 100%; }
body {
  background: #f1f1f1;
}
#david {
  position: absolute; 
  bottom: 0px; 
  max-height: 70%;
  max-width: 100%;
}
#welcome {
  padding-top: 20%;
  h1 { 
    font-size: 46px; 
  }
  .btn {
    margin-top: 20px;
    @include border-top-radius(30px);
    @include border-bottom-radius(30px);
  }
}
.center {
  text-align: center;
}